<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Atlanta » Panel de administración</title>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/hover.css/1.0.8/css/hover-min.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/admin/global.css">
</head>
<body>
	<nav class="nav">
		<div class="content">
			<div class="logo">Had<font color="#3498db">doz</font></div>
			<span style="float:right; display:inline-block; color:white;font-size:20px; margin-top:12px;">Mettok</span>
		</div>
	</nav>

	<div class="nav-bar">
		<div class="content" style="top:17px;">
			<ul>
				<li>
					<a class="grow" href="">
						<i class="fa fa-cogs"></i>
						Dashboard
					</a>
				</li>

				<li>
					<a class="grow" href="">
						<i class="fa fa-newspaper-o"></i>
						Noticias
					</a>
				</li>

				<li>
					<a class="grow" href="">
						<i class="fa fa-users"></i>
						Usuarios
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="wrapper">
		<div class="card small">
			<p class="title">Usuarios registrados</p>	
			<span>4800</span>
		</div>

		<div class="card small">
			<p class="title">Noticias creadas</p>	
			<span>30000</span>
		</div>
		<div class="card small">
			<p class="title">Placas en uso</p>	
			<span>4800</span>
		</div>
	</div>
</body>
</html>