body{
	margin-top:0;-webkit-font-smoothing:antialiased
}

button{
	border:none
}

.block{
	width:100%;
	display:block
}

.bitchMod{
	min-height:160px
}

.avatar{
	display:inline-block;
	margin-left:10px;
	margin-top:8px;
	color:#fff;
	position:relative;
}

.avatar .avatarImage{
	width:35px;
	height:90px;
	padding:30px;
	border:2px dotted #fff;
	border-radius:40px;
	display:inline-block;
	float:left;
	margin-top:5px;
	margin-right:10px
}

.avatar .avatarName{
	margin-top:15px;
	font-size:25px
}

.avatar .avatarComment{
	width:500px;
	margin-top:-23px
}

.overlayS{
	position:absolute;
	width:480px;
	height:120px;
	background:rgba(0,0,0,0.57);
	border-radius:4px
}